/* Set default typography styles */
.thank-you-message, select, input, button, select option, optgroup {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #000;
  line-height: 1.5;
    
}
/* Targeting h1 elements */
h1 {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(15px, 1.6vw, 20px);
  font-weight: bold;
  color: #000;
  line-height: 1.5;
  margin-top: 40px;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(12px, 1.3vw, 18px);
  font-weight: bold;
  color: #000;
  line-height: 1.5;
}

h3{
  font-family: "Montserrat", sans-serif;
  font-size:clamp(12px, 1.3vw, 18px);
  font-weight: normal;
  color: #5d5d5d;
  margin-top: -10px;
}

p {
  font-size: clamp(10px, 1vw, 16px);
}

body, p, h1, h2 {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(251, 249, 249);
}

body {
  margin-bottom: 60px;
}

/* Style links */
a {
  color: inherit;
  text-decoration: none;
  font-weight: normal;
  transition: 0.3s ease;
}

.seperator {
  margin:40px;
}

a:hover {
  font-weight: bold;
}
.form-container {
  display: flex;
  align-items: center;
  gap: 4px; 
}

select, .newsletter-input {
  display: inline-block;
  appearance: none;
  width: fit-content;
  padding: 1px;
  padding-left: 6px;
  border: 1px solid #ccc;
  border-radius: 2px;
  background-color: white;
  color: #242424;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

select {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='9' viewBox='0 0 16 9' fill='none'%3E%3Cpath d='M1.1116 0.505645L7.9999 8.04231L14.9678 0.579177' stroke='black'/%3E%3C/svg%3E");
  background-size: 12px; /* Adjust size as needed */
  background-position: right 8px center;
  background-repeat: no-repeat;
  padding-right: 20px;
}


.placeholder-img {
  position: absolute;
  top: 40px;
  right: 30px;
  width: 150px;
}



 /* Styles for slideshow container */
 .slideshow-container {
  position: relative;
  max-width: 80%; /* Set the maximum width of the slideshow */
  margin: 0 auto; /* Center the slideshow horizontally */
}

.slides {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px; /* Space between slides */
}

.slides img {
  height: auto; /* Ensure images fill the slide container */
  width: 100%; /* Maintain aspect ratio */
  margin-bottom: 15px;
  max-width: 80vw;
  max-height: 80vh;
}

/* Styles for navigation arrows */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  padding: 16px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  background-color: transparent;
  z-index: 1; /* Ensure arrows appear on top of the slideshow */
}

.prev {
  left: 20px;
}

.next {
  right: 20px;
}


.caption {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  color: black;
  font-size: 15px;
}

body {
  margin: 0; /* Remove default margin */
  font-family: Arial, sans-serif; /* Example font */
  padding: 30px;
}
    
  
#slideshow-image {
  width: 600px; /* Ensure image fills the container */
  max-height: 760px; /* Maintain aspect ratio */
}
  
.text-container {
  position: relative;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  max-width: 80%; 
  text-align: justify;
  font-size: 16px;
  line-height: 1.5;
}

ul {
  column-count: 2; 
  list-style-type: none; /* Remove bullet points */
  font-family:  "Montserrat", sans-serif;
  font-size: clamp(10px, 1vw, 16px);
  line-height: 2;
  max-width: 500px;
  margin-left: -32px;
}
  
/* Navbar */
.hamburger-menu {
  background-color: #191919;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 99999;
  display: grid;
  height: 100vh;
  align-content: center;
  justify-content: center;
  padding: 20px 30px;

}
.hamburger-menu a {
  display: grid;
  color: #f2f2f2;
  text-align: center;
  padding: 40px 16px;
  text-decoration: none;
  color: #676767;
  width: 120px;
  height: 20px;
}
  
.hamburger-menu a:hover {
  color: white;
}
  
.content img {
  float: left;
  cursor: pointer;
}
  
.hamburger-menu.responsive {
  animation: slideIn 0.5s ease-out;
}
  
.hamburger-menu {
  display: none;
}
  
.hamburger-menu.responsive {
  display: grid;
}
  
.cross-wrapper {
  display: flex;
  justify-content: end;
  position: absolute;
  right: 100px;
  top: 60px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
  
  .slides img {
    width: 100%;
    height: auto;
  }

  .modal-body img {
    width: 100% !important;
    height: auto !important;
    max-width: unset !important;
  }

  .slideshow-container {
    max-width: 90%;
    margin: unset;
  }

  .hamburger-menu {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
  }

  .hamburger-menu a {
    padding: 20px 16px;
    font-size: 20px;
    width: auto;
    height: auto;
  }

  .next {
    right: 0;
  }

  .prev {
    left: 0;
  }
  .slide-img {
    display: flex;
    justify-content: center;
  }

  .slide-img img {
    width: 75%;
    height: auto;
  }

  .caption {
    font-size: 10px;
  }
}
.placeholder-img{
  max-width: 100px;
  top: 40px;
  position: absolute;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.hamburger-menu.responsive {
  animation: slideIn 0.5s ease-out;
}

.hamburger-menu {
  animation: slideOut 0.5s ease-out;
}
