/* Set default typography styles */
.thank-you-message, .content, select, input, button, select option, optgroup {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    color: #000;
    line-height: 1.5;
}
/* Targeting h1 elements */
h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-style: bold;
    color: #000;
    line-height: 1.5;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-style: bold;
    color: #000;
    line-height: 1.5;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: rgb(251, 249, 249);
    margin-top: 20px;
    margin-left: 40px; /* Adjust the value as needed */
    margin-bottom: 60px;
    margin-right: 40px;
}

/* Style links */
a {
    color: inherit;
    text-decoration: none;
    font-weight: normal;
    transition: 0.3s ease;
 
}

.seperator {
    margin:60px;
}

a:hover {
    text-decoration: underline;
}



select, .newsletter-input {
 display: inline-block;
  appearance: none;
  width: fit-content;
  padding: 1px;
  padding-left: 6px;
  border: 1px solid #ccc;
  border-radius: 2px;
  background-color: white;
  color: #242424;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}



.keepinline {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    
}
.keepinline-label {
        margin-right: 8px;
}

.placeholder-img {
  position:absolute;
  top: 40px;
  right: 30px;
  width: 150px;
}

.hidden {
    display: none;
}


.frontdoor {
  position: flex;
  padding-top: 65px;
  top: 60px;
  height:380px;
}

.container {
  display: flex
}

.text-container2 {
  font-family: "Montserrat", sans-serif;
  width: 90%; 
  text-align: justify;
  font-size: clamp(16px, 1vw, 20px);
}


hr {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }

  .hamburger-menu {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
  }
}

/* Navbar */
.hamburger-menu {
  background-color:rgba(255, 255, 255, 0.938);
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 99999;
  display: grid;
  height: 100vh;
  align-content: center;
  justify-content: center;
  padding: -20px -30px;

}
.hamburger-menu a {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  color: #2e2d2d;
  text-decoration: none;
  color: #000000;
  width: 140px;
}

.hamburger-menu a:hover {
  color: rgb(164, 1, 1);
}  

.content img {
float: left;
cursor: pointer;
}

.hamburger-menu.responsive {
animation: slideIn 0.5s ease-out;
}

.hamburger-menu {
display: none;
}

.hamburger-menu.responsive {
display:flex;
}

.cross-wrapper {
  display: flex;
  justify-content: end;
  position: absolute;
  right: 100px;
  top: 60px;
  cursor: pointer;
}

.about-first {
  display: flex;
  justify-content: space-between;
}

.about-second {
  display: flex;
}

@media screen and (max-width: 600px) {
  .about-first {
    display: block;
  }

  .text-container2 {
    width: 100%;
  }

  .frontdoor {
    width: 100%;
    height: auto;
  }

  .about-second {
    display: block;
  }

  iframe {
    width: 100% !important;
    max-height: 450px;
  }
  .placeholder-img{
    max-width: 100px;;
  }
}
@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }

  .hamburger-menu {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
  }

  .hamburger-menu a {
    padding: 20px 16px;
    font-size: 20px;
    width: auto;
    height: auto;
  }

  .keepinline, .keepinline-label {
    justify-content: center;
    font-size: 20px;
    line-height: 3;
  }

  .keepinline a {
    margin: 0 !important;
  }

  p {
    margin: 0;
  }

  .keepinline-wrapper {
    margin-top: 120px !important;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.hamburger-menu.responsive {
  animation: slideIn 0.5s ease-out;
}

.hamburger-menu {
  animation: slideOut 0.5s ease-out;
}

@media screen and (max-width: 600px) {
  .filter-forms {
    display: none;
  }

.placeholder-img{
    max-width: 100px;
    position: absolute;
  }

  .seperator {
    margin: 30px;
  }

  .keepinline-label, .keepinline a {
    font-weight: normal;
    font-size: medium;
  }

  .keepinline a {
    margin: 20px 0;
  }

  .main-content-wrapper {
    margin-top: 50px !important;
    margin-bottom: 30px !important;
  }
}


/* Close button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
select, .newsletter-input {
  margin-left: 8px;
   display: inline-block;
    appearance: none;
    width: fit-content;
    padding: 1px;
    padding-left: 6px;
    border: 1px solid #ccc;
    border-radius: 2px;
    background-color: white;
    color: #242424;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
  
  select {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='9' viewBox='0 0 16 9' fill='none'%3E%3Cpath d='M1.1116 0.505645L7.9999 8.04231L14.9678 0.579177' stroke='black'/%3E%3C/svg%3E");
    background-size: 12px; /* Adjust size as needed */
    background-position: right 8px center;
    background-repeat: no-repeat;
    padding-right: 20px;
  }
  
  .modal {
    display: none; /* Hide the modal by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  }
  
  .modal-content {
    font-family: "calibria", sans-serif;
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
  }
  .desktop-img {
    display: block; /* Display on desktop */
    width: 100%; /* Adjust size as needed */
    max-width: 50%; /* Maximum width */
    margin-left: 10px; /* Center horizontally */
    margin-right: 10px;
    
  }
  
  /* Style for mobile */
  .mobile-img {
    display: none; /* Hide on desktop */
    width: 100%; /* Adjust size as needed */
    margin: 0 auto; /* Center horizontally */
    margin-bottom: 20px;
  }

  /* Media query for mobile */
  @media only screen and (max-width: 600px) {
    .desktop-img {
      display: none; /* Hide on mobile */
    }
    .mobile-img {
      display: block; /* Display on mobile */
    }
  }  