@keyframes slideIn {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
}
  
@keyframes slideOut {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-100%);
    }
}
  
.hamburger-menu.responsive {
    animation: slideIn 0.5s ease-out;
}
  
.hamburger-menu {
    animation: slideOut 0.5s ease-out;
}

/* Navbar */
.hamburger-menu {
  background-color:rgba(255, 255, 255, 0.938);
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 99999;
  display: grid;
  height: 100vh;
  align-content: center;
  justify-content: center;
  padding: -20px -30px;

}
.hamburger-menu a {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  color: #2e2d2d;
  text-decoration: none;
  color: #000000;
  width: 140px;
}

.hamburger-menu a:hover {
  color: rgb(164, 1, 1);
}  

.content img {
float: left;
cursor: pointer;
}

.hamburger-menu.responsive {
animation: slideIn 0.5s ease-out;
}

.hamburger-menu {
display: none;
}

.hamburger-menu.responsive {
display:flex;
}
    
.cross-wrapper {
    display: flex;
    justify-content: end;
    position: absolute;
    right: 100px;
    top: 60px;
    cursor: pointer;
}

.Amanita-img {
  position:absolute;
  top: 40px;
  right: 30px;
  width: 150px;
}

/* Set default typography styles */
.thank-you-message, select, input, button, select option, optgroup {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: #000;
    line-height: 1.5;
    margin-left: 40px;
      
  }
  /* Targeting h1 elements */
  h1 {
    font-family: "Montserrat", sans-serif;
    font-size: clamp(15px, 1.6vw, 20px);
    font-style: bold;
    color: #000;
    line-height: 1.5;
  }
  
  h2 {
    font-family: "Montserrat", sans-serif;
    font-size: clamp(12px, 1.3vw, 18px);
    font-style: normal;
    color: #000;
    line-height: 1.5;
  }
  
  h3{
    font-family: "Montserrat", sans-serif;
    font-size: clamp(15px, 1.6vw, 20px);
    font-style: normal;
    color: #5d5d5d;
    margin-top: -10px;
  }
  
  p {
    font-size: clamp(10px, 1vw, 16px);
  }
  
  body, p, h1, h2 {
    font-family: "Montserrat", sans-serif;
  }
  
  body {
    margin-bottom: 60px;
    padding-left: 30px;
    padding-top: 20px;
  }
  
  /* Style links */
  a {
    color: inherit;
    text-decoration: none;
    font-weight: normal;
    transition: 0.3s ease;
    text-decoration: none !important;
  }
  
.press-card-title-secondary {
    text-align: left;
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 0 0 10px;
    color: #010101;
    text-transform: uppercase;
    margin-top: 10px;
}

.press-card-title {
    text-align: left;
    font-size: clamp(15px, 1.6vw, 30px);
    line-height: 1.5rem;
    margin: 0 0 25px;
    color: #010101;
    text-decoration: none;
}

.press-card-date {
    font-size: .8rem;
    margin: 0 0 14px;
    color: #585858;
    font-weight: 500;
}

.press-card-link {
    color: #757575;
    font-size: .8rem;
    margin: 0 0 20px;
}

.content-wrap {
  padding-right: 40px;
}

.press-images {
  width: 100%;
    max-height: 300px;
    margin: 0 auto; /* Center horizontally */
    object-fit: cover;
}
@media screen and (max-width: 600px) {
  .about-first {
    display: block;
  }

  .text-container2 {
    width: 100%;
  }

  .frontdoor {
    width: 100%;
    height: auto;
  }

  .about-second {
    display: block;
  }

  iframe {
    width: 100% !important;
  }
  .Amanita-img{
    max-width: 100px;;
  }
}
@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }

  .hamburger-menu {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
  }

  .hamburger-menu a {
    padding: 20px 16px;
    font-size: 16px;
    width: auto;
    height: auto;
  }
  .cross-wrapper {
    display: flex;
    justify-content: center;
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
  }

  .keepinline, .keepinline-label {
    justify-content: center;
    font-size: 20px;
    line-height: 3;
  }

  .keepinline a {
    margin: 0 !important;
  }

  p {
    margin: 0;
  }

  .keepinline-wrapper {
    margin-top: 120px !important;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.hamburger-menu.responsive {
  animation: slideIn 0.5s ease-out;
}

.hamburger-menu {
  animation: slideOut 0.5s ease-out;
}

@media screen and (max-width: 600px) {
  .filter-forms {
    display: none;
  }

.Amanita-img{
    max-width: 100px;
    position: absolute;
  }

  .seperator {
    margin: 30px;
  }

  .keepinline-label, .keepinline a {
    font-weight: normal;
    font-size: medium;
  }

  .keepinline a {
    margin: 20px 0;
  }

  .main-content-wrapper {
    margin-top: 50px !important;
    margin-bottom: 30px !important;
  }
}


/* Close button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

